#main-project-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#main-project-container #inner-project-container {
  width: 1408px;
  height: 80%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#main-project-container .blur {
  filter: blur(10px);
}

#main-project-container #project-description {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#main-project-container #project-description h1 {
  font-size: 1.7vw;
  margin-bottom: 20px;
  overflow: hidden;
}

#main-project-container #project-description h3 {
  width: 100%;
  font-size: 1.2vw;
  overflow: hidden;
}

#main-project-container #project-media-container {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-project-container #inner-project-container .media-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
