:root {
  --background-color: rgb(88, 94, 151);
}

.magenta-color {
  color: rgb(248, 47, 114);
}

.magenta-background {
  background: rgb(248, 47, 114);
}

.cyan-color {
  color: cyan;
}

.cyan-background {
  background: cyan;
}
