:root {
  --background-color: rgb(41, 44, 66);
  --background-gradient: rgb(61, 66, 99);
}

.magenta-color {
  color: rgb(248, 47, 114);
}

.magenta-background {
  background: rgb(248, 47, 114);
}

.cyan-color {
  color: cyan;
}

.cyan-background {
  background: cyan;
}
