#main-project-container #project-navigation-container {
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-project-container #project-navigation-container > div {
  z-index: 10;
}

#main-project-container #project-navigation-container > div:hover {
  cursor: pointer;
}

#main-project-container #project-navigation-container #go-back {
  margin-right: 20px;
}

#main-project-container #project-navigation-container #videos-nav {
  margin-left: 20px;
}

#main-project-container #project-navigation-container .active {
  color: var(--main-color, cyan);
}
