#selected-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(1000px);
  width: 0;
  height: 0;
  z-index: 200;
  transition: 0.5s;
}

#selected-video-container:hover {
  cursor: none;
}

#selected-video-container video {
  height: 100%;
  width: 100%;
}

#selected-video-container #close-video {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%) translateY(-200px);
  background: rgba(0, 0, 0, 0.2);
  width: 0;
  height: 0;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  transition: 0.5s;
  z-index: 1000;
}

#selected-video-container:hover #close-video {
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%) translateY(0);
}

#selected-video-container #close-video:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#cursor {
  font-family: 'FontAwesome';
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: rgb(28, 29, 28);
  align-items: center;
  justify-content: center;
  display: none;
  box-shadow: 0 0 10px black;
}
