#main-content-container {
  width: 1860px;
  height: 100vh;
  background: var(--background-color);
  color: white;
  position: absolute;
  top: 0;
  left: var(--nav-width);
}

.home-icon {
  fill: 'blue';
  stroke: 'blue';
}
