#timer-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100px;
  display: flex;
  overflow: visible;
}

#timer-container #timer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timer-container #timer input {
  background: none;
  border: none;
  outline: none;
  font-size: 50px;
  width: 70px;
  color: var(--text);
  letter-spacing: 5px;
}

#timer-container #timer input:focus {
  background: rgba(0, 0, 0, 0.1);
}

#timer-container #timer input::placeholder {
  color: white;
  opacity: 1;
}

#timer-container #timer #colon {
  color: var(--text);
  font-size: 50px;
  transform: translateY(-5px);
}

#timer-container #controls {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 100px;
  color: var(--text);
  font-size: 50px;
  transform: translate(-50%, calc(-50% + 5px));
  margin-left: 20px;
  overflow: visible;
}

#timer-container #controls i:hover {
  color: green;
  cursor: pointer;
}

#timer-container #controls #pause-stop {
  width: 100px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

#timer-container #controls #pause-stop i {
  transform: translateY(-5px);
}

#timer-container #default-container {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  overflow: visible;
  height: 100%;
  width: 150px;
}

#timer-container #wait-container {
  position: absolute;
  top: 0;
  left: calc(70% + 100px);
  display: flex;
  overflow: visible;
  height: 100%;
  width: 150px;
}

#timer-container #wait-container > label,
#timer-container #default-container > label {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
