#navigation-container {
  min-width: var(--nav-width);
  height: 100vh;
  background: var(--darker);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

#navigation-container #logo {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 10;
  background: var(--darker);
}

#navigation-container #info-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: space-between;
  transition: 0.5s;
  position: relative;
  background: var(--darker);
}

#navigation-container #info-container #nav-hamburger {
  display: none;
  width: 30px;
  height: 30px;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#navigation-container #info-container #nav-hamburger:hover {
  cursor: pointer;
}

#navigation-container #info-container #nav-hamburger:hover span {
  background: var(--main-color);
}

#navigation-container #info-container #nav-hamburger span {
  width: 100%;
  height: 50%;
  background: white;
  border-radius: 10px;
  transform: translateY(50%);
  transition: 0.5s;
}

#navigation-container #info-container .nav-hamburger-active #ham-top {
  transform: translateY(250%) rotateZ(-225deg);
}

#navigation-container #info-container .nav-hamburger-active #ham-middle {
  transform: translateY(50%) scale(0);
}

#navigation-container #info-container .nav-hamburger-active #ham-bottom {
  transform: translateY(-150%) rotateZ(225deg);
}

#navigation-container #info-container .nav-dropdown {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: inherit;
  justify-content: inherit;
  transition: 0.5s;
}

#navigation-container #info-container .nav-dropdown-active {
  transition: 0.5s;
}

#navigation-container #info-container .nav-icon svg {
  width: 25px;
  height: 30px;
  pointer-events: none;
}
