#homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#homepage-container ::selection {
  color: none;
  background: none;
}

#homepage-container #welcome-container {
  margin-left: 150px;
  z-index: 1000;
}

#homepage-container #welcome-container h1 {
  font-size: 80px;
}

#homepage-container #welcome-container h1 span {
  display: inline-block;
}

#homepage-container #welcome-container h1 #first-row span,
#homepage-container #welcome-container h1 #second-row span,
#homepage-container #welcome-container h1 #third-row span,
#homepage-container #welcome-container #fourth-row {
  transition: 1s;
  opacity: 0;
}

#homepage-container #welcome-container h1 #first-row span {
  /*transform: translateY(-500px);*/
}

#homepage-container #welcome-container h1 #second-row span {
  /*transform: translateX(-800px);*/
}

#homepage-container #welcome-container h1 #third-row span {
  /*transform: translateX(2000px);*/
}

#homepage-container #welcome-container #fourth-row {
  /*transform: translateY(500px);*/
}

.fade-in-anim {
  animation: fade-in 1s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#homepage-container #welcome-container:hover {
  cursor: default;
}

#homepage-container #welcome-container h1 span,
#homepage-container #welcome-container div h2 {
  user-select: none;
}

#homepage-container #welcome-container h1 span:hover {
  color: cyan;
}

.animated {
  animation: stretch 0.7s linear;
}

@keyframes stretch {
  0% {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.4, 0.6);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.7, 1.4);
  }

  60% {
    transform: scale(1, 1);
  }

  70% {
    transform: scale(1.2, 0.8);
  }

  80% {
    transform: scale(0.9, 1.1);
  }

  90% {
    transform: scale(1.1, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}

#homepage-container #welcome-container h2 {
  font-weight: initial;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-left: 20px;
}

#homepage-container .orb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  animation: color 10s linear infinite;
}

#main-content-container #homepage-container .position-orb {
  transition: 0.5s;
  transform: translate(0px, -50px);
  animation: none;
}

#main-content-container .rotate .orb {
  transform-origin: 0px 50px;
  transform: translate(0px, -50px);
  animation: color 10s linear infinite, rotate-orb 2s linear infinite;
}

@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes rotate-orb {
  0% {
    transform: translate(0px, -50px) rotateZ(0deg);
  }

  100% {
    transform: translate(0px, -50px) rotateZ(360deg);
  }
}
