#text-skills-container {
  width: 40%;
  height: 100%;
  margin-left: 100px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

#text-skills-container h1 {
  position: absolute;
  top: 5%;
}

#text-skills-container #skills-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
