#main-skills-container #visual-skills-container {
  width: 40%;
  height: 80%;
  margin-right: 50px;
  padding: 40px;
  border-radius: 20px;
  z-index: 10;
  transition: 0.5s;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

#main-skills-container #visual-skills-container #inner-visual-skills-container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: 10;
  padding: 40px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

#main-skills-container #visual-skills-container #visual-skills-background {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: var(--main-color);
  transition: width 1s, height 1s;
  animation: background-color 20s linear infinite;
}

@keyframes background-color {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
