#main-project-container #videos-container {
  width: 90%;
  height: 80%;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#main-project-container #videos-container .video-thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid white;
  z-index: 10;
  overflow: hidden;
}

#main-project-container #videos-container .video-thumbnail:hover {
  cursor: pointer;
}

#main-project-container #videos-container .video-thumbnail:hover img {
  transform: scale(1.2);
}

#main-project-container #videos-container .video-thumbnail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  mix-blend-mode: multiply;
  z-index: 1000;
}

#main-project-container #videos-container .video-thumbnail:hover:before {
  background: rgba(0, 0, 0, 0);
}

#main-project-container #videos-container .video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

#main-project-container #videos-container .video-thumbnail .view-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background: rgb(28, 29, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

#main-project-container #videos-container .video-thumbnail:hover .view-video {
  height: 100px;
  width: 100px;
  z-index: 1000;
}
