@media screen and (max-height: 800px) and (max-width: 720px) {
  #main-project-container #inner-project-container #outer-media-container {
    height: 366px;
  }

  #main-project-container #inner-project-container .media-container {
    height: 308px;
  }

  #inner-project-container #media-navigation {
    top: 326px;
  }

  #main-project-container #project-navigation-container {
    top: 346px;
  }
}

@media screen and (max-height: 700px) and (min-width: 720px) {
  #navigation-container #logo {
    top: 0;
  }

  #navigation-container #info-container {
    height: 80%;
    position: absolute;
    top: 15%;
  }

  .skill-indicator-container .skill-icons-container {
    width: 50px;
  }
}

@media screen and (max-height: 700px) {
  #main-skills-container #visual-skills-container #visual-skills-background {
    width: 50vh;
    height: 50vh;
  }

  .skill-indicator-container {
    height: 13vh;
    margin-bottom: 0px;
  }
}

@media screen and (max-height: 650px) and (max-width: 1290px) {
  .skills-line {
    font-size: 3.5vh;
  }

  #text-skills-container {
    justify-content: center;
  }
}

@media screen and (max-height: 650px) and (max-width: 1000px) {
  .skills-line {
    font-size: 2.8vh;
  }
}

@media screen and (max-height: 650px) and (max-width: 700px) {
  .skills-line {
    font-size: 1.9vh;
  }
}

@media screen and (max-height: 650px) and (max-width: 430px) {
  .skills-line {
    font-size: 1.5vh;
  }
}

@media screen and (max-height: 650px) and (max-width: 360px) {
  #main-project-container #selected-image-container > span {
    width: 50px;
    height: 50px;
  }

  .skills-line {
    font-size: 1vh;
  }
}

@media screen and (max-height: 600px) and (max-width: 720px) {
  #main-project-container #project-description {
    height: 23%;
  }

  #main-project-container #inner-project-container #outer-media-container {
    top: 30%;
    height: 212px;
  }

  #main-project-container #inner-project-container .media-container {
    height: 154px;
  }

  #inner-project-container #media-navigation {
    top: 172px;
  }

  #main-project-container #project-navigation-container {
    top: 192px;
  }
}

@media screen and (max-height: 600px) {
  #main-contact-container #inner-contact-container {
    top: 10px;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-height: 500px) and (min-width: 1290px) {
  .skills-line {
    font-size: 3vh;
  }
}

@media screen and (max-height: 500px) and (min-width: 1001px) {
  #navigation-container,
  #navigation-container #info-container {
    overflow: visible;
  }

  #navigation-container #info-container {
    height: 100%;
  }

  #navigation-container #info-container .nav-dropdown {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: -1;
    left: -10px;
    background: var(--darker);
    height: 100vh;
    width: var(--nav-width);
  }

  #navigation-container #info-container #nav-hamburger {
    top: 40%;
    display: grid;
  }

  #navigation-container #info-container .nav-dropdown-active {
    left: var(--nav-width);
  }
}

@media screen and (max-height: 500px) {
  #main-project-container #selected-image-container #next-image,
  #main-project-container #selected-image-container #previous-image {
    top: 90%;
  }

  #main-project-container #selected-image-container #close-image {
    top: 30%;
  }
}

@media screen and (max-height: 450px) and (max-width: 720px) {
  #main-project-container #project-description {
    overflow: auto;
  }
}

@media screen and (max-height: 450px) {
  #about-container #cards-container > div {
    height: 40px;
  }

  .skill-indicator-container .skill-icons-container {
    width: 40px;
  }
}

@media screen and (max-height: 400px) and (min-width: 1290px) {
  #homepage-container #welcome-container #main-text {
    font-size: 20vh;
  }
}

@media screen and (max-height: 350px) {
  .skill-indicator-container .skill-icons-container {
    width: 30px;
  }
}

@media screen and (max-height: 250px) {
  .skill-indicator-container .skill-icons-container {
    width: 20px;
  }
}
