@media screen and (max-width: 1500px) {
  #main-project-container #inner-project-container #outer-media-container {
    width: 1056px;
  }
}

@media screen and (max-width: 1290px) {
  #homepage-container #welcome-container #main-text {
    font-size: 70px;
  }

  #main-skills-container {
    height: 200%;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
  }

  #text-skills-container {
    margin-left: 0;
    width: 80%;
  }

  #main-skills-container #visual-skills-container {
    margin-right: 0;
    width: 80%;
  }

  .skills-line {
    font-size: 2.2vw;
  }

  #main-project-container #project-description h1 {
    font-size: 2vw;
  }

  #main-project-container #project-description h3 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1140px) {
  #main-project-container #inner-project-container #outer-media-container {
    width: 704px;
  }
}

/*If changing max-width, also update state!*/
@media screen and (max-width: 1000px) {
  /*Navigation*/
  #navigation-container {
    width: 100vw;
    height: var(--nav-width);
    z-index: 100;
  }

  #navigation-container #info-container {
    flex-direction: row;
    height: 100%;
    width: 40%;
  }

  #navigation-container #logo {
    top: 0;
    left: 10%;
    width: var(--nav-width);
  }

  /*Paths*/
  .path-container {
    height: 100%;
    width: var(--nav-width);
  }

  .path-container div,
  .path-container label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*Content*/
  #main-content-container {
    left: 0;
    top: var(--nav-width);
    width: 100vw;
    height: 94vh;
  }

  /*Canvas*/
  #main-canvas-container {
    left: 0;
  }

  #main-project-container #project-description {
    height: 40%;
  }

  #main-project-container #project-description h1 {
    font-size: 2.5vw;
  }

  #main-project-container #project-description h3 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 890px) {
  #homepage-container #welcome-container #main-text {
    font-size: 50px;
  }

  #homepage-container #welcome-container h2 {
    font-size: 3vw;
  }

  #navigation-container #info-container {
    justify-content: center;
    width: 70%;
  }

  #navigation-container #logo {
    left: 0;
  }

  #main-contact-container #inner-contact-container {
    width: 90%;
  }

  #about-container #cards-container > div {
    width: 202.5px;
  }
}

@media screen and (max-width: 720px) {
  #main-project-container #inner-project-container #outer-media-container {
    width: 352px;
    height: 520px;
    top: 30%;
  }

  #main-project-container #project-description {
    justify-content: flex-start;
    height: 25%;
    margin-top: 20px;
  }

  #main-project-container #inner-project-container .media-container {
    height: 462px;
  }

  #main-project-container #project-image-container #images,
  #videos {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }

  #main-project-container
    #project-image-container
    #images
    > .small-image-container,
  #main-project-container #videos-container #videos .video-thumbnail {
    min-height: 152px;
    position: relative;
  }

  #inner-project-container #media-navigation {
    top: 480px;
  }

  #main-project-container #project-navigation-container {
    top: 500px;
  }

  #text-skills-container {
    width: 90%;
  }

  .skills-line {
    font-size: 2.8vw;
  }

  #main-skills-container
    #visual-skills-container
    #inner-visual-skills-container {
    padding: 5px;
  }
}

@media screen and (max-width: 650px) {
  #homepage-container #welcome-container #main-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 580px) {
  .skill-indicator-container .indicator-bar {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  #navigation-container,
  #navigation-container #info-container {
    overflow: visible;
  }

  #navigation-container #info-container {
    width: 40%;
  }

  #navigation-container #info-container .nav-dropdown {
    display: none;
  }

  #navigation-container #info-container #nav-hamburger {
    display: grid;
    width: 30px;
    height: 30px;
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  #navigation-container #info-container #nav-hamburger span {
    width: 100%;
    height: 50%;
    background: white;
    border-radius: 10px;
    transform: translateY(50%);
    transition: 0.5s;
  }

  #navigation-container #info-container #nav-hamburger:hover {
    cursor: pointer;
  }

  #navigation-container #info-container #nav-hamburger:hover span {
    background: var(--main-color);
  }

  #navigation-container #info-container .nav-hamburger-active #ham-top {
    transform: translateY(250%) rotateZ(-225deg);
  }

  #navigation-container #info-container .nav-hamburger-active #ham-middle {
    transform: translateY(50%) scale(0);
  }

  #navigation-container #info-container .nav-hamburger-active #ham-bottom {
    transform: translateY(-150%) rotateZ(225deg);
  }

  #navigation-container #info-container .nav-dropdown-active {
    display: flex;
    position: fixed;
    top: var(--nav-width);
    left: 0;
    background: var(--darker);
    width: 100vw;
    height: var(--nav-width);
  }
}

@media screen and (max-width: 420px) {
  #homepage-container #welcome-container #main-text {
    font-size: 6vw;
  }
}

@media screen and (max-width: 360px) {
  #main-project-container #inner-project-container {
    width: 95vw;
  }

  #inner-project-container #media-navigation {
    justify-content: space-evenly;
  }

  #main-project-container
    #project-image-container
    #images
    > .small-image-container {
    min-width: 99.2%;
    width: 99.2%;
  }

  .skill-indicator-container .indicator-bar {
    width: 60%;
  }

  #main-contact-container #inner-contact-container #btn-container {
    justify-content: center;
    align-items: center;
  }

  #main-contact-container #inner-contact-container #submit-btn {
    position: relative;
    right: 0;
  }
}
