#outer-work-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#text-work-container {
  width: 80%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

#inner-work-container {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 10;
}

#inner-work-container > div {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#inner-work-container > div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  mix-blend-mode: multiply;
}

#inner-work-container > div:hover:before {
  background: rgba(0, 0, 0, 0);
}

#inner-work-container > div:hover {
  cursor: pointer;
}

#inner-work-container > div:hover img {
  transform: scale(1.2);
}

#inner-work-container div img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

#inner-work-container > div .view-project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background: rgb(28, 29, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  white-space: nowrap;
  z-index: 1000;
  transition: 0.3s;
}

#inner-work-container > div:hover .view-project {
  height: 100px;
  width: 100px;
}
