#main-project-container,
#main-project-container #inner-project-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-project-container #inner-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#main-project-container #project-title {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#main-project-container #project-media-container {
  width: 90%;
  height: 80%;
  background: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#main-project-container #project-media-container > .small-image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-project-container
  #project-media-container
  > .small-image-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}

#main-project-container
  #project-media-container
  > .small-image-container:hover:before {
  background: rgba(0, 0, 0, 0);
}

#main-project-container
  #project-media-container
  > .small-image-container:hover {
  cursor: pointer;
}

#main-project-container #project-media-container > .small-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-project-container
  #project-media-container
  > .small-image-container
  .view-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background: rgb(86, 86, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

#main-project-container
  #project-media-container
  > .small-image-container:hover
  .view-media {
  height: 100px;
  width: 100px;
}

#main-project-container #selected-image-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  z-index: 10;
}

#main-project-container #selected-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#main-project-container #selected-image-container > span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

#main-project-container #selected-image-container > span:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

#main-project-container #selected-image-container #next-image {
  top: 50%;
  left: 90%;
}

#main-project-container #selected-image-container #next-image:hover span {
  animation: nxtImg 1s ease-in-out infinite;
}

#main-project-container #selected-image-container #previous-image {
  top: 50%;
  left: 10%;
}

#main-project-container #selected-image-container #previous-image:hover span {
  animation: prevImg 1s ease-in-out infinite;
}

#main-project-container #selected-image-container #close-image {
  top: 10%;
  left: 90%;
}

#main-project-container #selected-image-container #close-image:hover {
  font-size: 60px;
}

@keyframes nxtImg {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes prevImg {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes closeImg {
  0% {
    color: white;
  }

  50% {
    color: black;
  }

  100% {
    color: white;
  }
}

#main-project-container #project-navigation-container {
  height: 5%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-project-container #project-navigation-container > div:hover {
  cursor: pointer;
}

#main-project-container #project-navigation-container #go-back {
  margin-right: 20px;
}

#main-project-container #project-navigation-container #videos {
  margin-left: 20px;
}
