#outer-app-navigation-container {
  width: 100vw;
  height: 100vh;
  background: url('/img/appnav/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
