#about-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-container #cards-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about-container #cards-container > div {
  height: 10%;
  width: 25%;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 0.5s;
}

#about-container #cards-container .active-card {
  height: 90%;
}

#about-container #cards-container div:hover {
  cursor: pointer;
}

#about-container #cards-container #about-me-container > h1 {
  color: cyan;
  text-shadow: 0 0 4px cyan;
}

#about-container #cards-container #about-me-container:hover {
  box-shadow: -2px -2px 6px cyan, 2px 2px 6px cyan;
}

#about-container #cards-container #hobbies-container > h1 {
  color: rebeccapurple;
  text-shadow: 0 0 4px rebeccapurple;
}

#about-container #cards-container #hobbies-container:hover {
  box-shadow: -2px -2px 6px rebeccapurple, 2px 2px 6px rebeccapurple;
}

#about-container #cards-container #programming-container > h1 {
  color: greenyellow;
  text-shadow: 0 0 4px greenyellow;
}

#about-container #cards-container #programming-container:hover {
  box-shadow: -2px -2px 6px greenyellow, 2px 2px 6px greenyellow;
}

#about-container #cards-container div .summary {
  height: 100%;
  width: 100%;
  color: white;
}

#about-container #cards-container div .summary h1 {
  margin-bottom: 20px;
}
