#main-skills-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-skills-container .skills-container {
  width: 40%;
  height: 80%;
  margin-right: 50px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 20px;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
